<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.health.remind.mapper.RemindTaskMapper">

    <select id="selectPageTask" resultType="com.health.remind.pojo.vo.RemindTaskVO">
        with info as (select rt.id,
                             rt.name,
                             rt.start_time,
                             rt.end_time,
                             is_remind,
                             push_num,
                             num,
                             rt.status,
                             is_finish,
                             remark,
                             remind_type,
                             advance_num,
                             rt.cycle_unit,
                             rt.create_id,
                             rt.create_time,
                             rt.update_time,
                             rt.delete_flag,
                             rt.tenant_id,
                             f.cycle_unit as frequency_cycle_unit,
                             f.name as frequency_name
                      from remind_task rt
                               left join remind_you.frequency f on rt.frequency_id = f.id)
        select *
        from info ${ew.customSqlSegment}
    </select>
    <select id="selectOneById" resultType="com.health.remind.pojo.vo.RemindTaskVO">
        select rt.id, rt.name, rt.start_time, rt.end_time, rt.push_num, rt.num, rt.remark,
        rt.is_remind, rt.remind_type, rt.advance_num, rt.cycle_unit, rt.frequency_id, f.frequency_name
        from remind_task rt
        left join frequency f on rt.frequency_id = f.id
        where rt.delete_flag = false and rt.id = #{id}
        <if test="userId != null">
            and rt.create_id = #{userId}
        </if>
    </select>
</mapper>
