<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.health.remind.mapper.RemindTaskInfoMapper">

    <select id="selectTaskError" resultType="java.lang.Integer">
        select ceil(avg(timestampdiff(second, actual_time, estimated_time))) as avg_integer
        from remind_task_info
        where estimated_time >= date_sub(now(), interval 7 day)
          and is_send = 1
          and delete_flag = 0
    </select>
    <select id="selectPageTaskInfo" resultType="com.health.remind.pojo.vo.RemindTaskInfoVO">
        select id, remind_task_id, estimated_time, actual_time, time, is_send, is_read
        from remind_task_info ${ew.customSqlSegment}
    </select>
    <select id="selectTaskInfo" resultType="com.health.remind.pojo.vo.RemindTaskInfoVO">
        select id, remind_task_id, estimated_time, actual_time, time, is_send, is_read
        from remind_task_info ${ew.customSqlSegment}
    </select>
</mapper>
